.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
	color: white;
	background-color: #670000;
}

.nav-pills > li.active > a:hover {
	background-color: #CD6155;
	color:white;
}
     
.nav-pills > li > a, .nav-pills > li > a:focus {
	color: #670000;
	background-color: white;
}
