<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>New Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/addStudent.css' %}">
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        function validateForm() {
            if (document.forms["myForm"]["name"].value != "" && document.forms["myForm"]["id_no"].value != "" && document.forms["myForm"]["contact_details"].value != "" && document.forms["myForm"]["date"].value != "" && document.forms["myForm"]["class_no"].value != "") {
                return true;
            }
        }
    </script>
</head>

<body>
    <ul class="nav nav-pills nav-justified">
      <li><a href="/menu/"><i class="fa fa-home" aria-hidden="true"></i><br>Home</a></li>
      <li class="active"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i><br>Add Student</a></li>
      <li><a href="/viewStudents/"><i class="fa fa-list-ul" aria-hidden="true"></i><br>View Students</a></li>
      <li><a href="/viewGraduates/"><i class="fa fa-graduation-cap" aria-hidden="true"></i><br>View Graduates</a></li>
      <li><a href="/viewDropouts/"><i class="fa fa-list-ul" aria-hidden="true"></i><br>View Dropouts</a></li>
      <li><a href="/statistics"><i class="fa fa-bar-chart" aria-hidden="true"></i><br>View Statistics</a></li>
      <li><a href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i><br>Logout</a></li>
    </ul>
    <div class="container-fluid">
        <h1 style= "text-align: center;">Add Student</h1>
                         {% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}" style="background: white; font-size: 15px;"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
        <div class="alert alert-success" id="success-alert" style="display:none"> Student saved successfully!</div>
        <div id="body_container" style="overflow: hidden; ">
            <div id="form_container" style=" float: left;">
                <form id='myForm' style='width:450px; padding: 0.5cm 0cm 0cm 0.5cm'>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                    </div>
                    <div class="form-group">
                        <label for="id_no">ID Number:</label>
                        <input type="text" class="form-control" id="id_no" name="id_no" placeholder="ID number" required>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact Details:</label>
                        <input type="text" class="form-control" id="contact_details" name="contact_details" placeholder="Enter primary contact" required>
                    </div>
                    <div class="form-group">
                        <!-- Date input -->
                        <label class="control-label" for="date">Year:</label>
                        <input class="form-control" id="date" name="date" name="date" placeholder="Enter year" type="text" required/>
                    </div>
                    <div class="form-group">
                        <!-- Date input -->
                        <label class="control-label" for="date">Class:</label>
                        <input type="number" id="class_no" name="class_no" min="1" max={{classes.class_no__max}} required>
                    </div>
		    <br></br>
                    <button id='save_button' type="submit" class="btn btn-primary">Save</button>
                    <button id='reset_button' type="reset" class="btn btn-secondary">Clear</button>
                    <button id='cancel_button' type="button" class="btn btn-default" onclick="cancel()">Cancel</button>
                </form>
            </div>
            <div style="margin-left: 550px; padding: 0.5cm 0cm 1cm 0cm">
                <form id="form1" runat="server">
                    <label class="control-label" for="file">Picture:</label>
                    <input  class="btn btn-default btn-file" type='file' id='file' accept="image/*"/>
                    <p></p>
                    <img id="imagePreview" src="#" alt="your image" style="width: 75%; height: 350px" />
                </form>
            </div>

        </div>
    </div>
    <script>
        var cancel = function(){
        	window.location.href = "/menu/";
        }

        $(document).ready(function() {
            var date_input = $('input[name="date"]');

            var options = {
                format: ' yyyy',
                autoclose: true,
                viewMode: "years",
                minViewMode: "years"
            };
            date_input.datepicker(options);
        })
    </script>

    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imagePreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function() {
            readURL(this);
        });
    </script>
    {% csrf_token %}
    <script>
        var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $("#save_button").click(function(event) {
        	var image;
            if (!validateForm()) {

            } else {
                event.preventDefault();
                var name = $('#name').val();
                var id_no = $('#id_no').val();
                var contact_details = $('#contact_details').val()
                var class_no = $('#class_no').val();
                var date = $('#date').val();
                var x = document.getElementById("file");
				image = x.files[0];
                var image_path = image.name;
                var obj = {
                    "name": name,
                    "id_no": id_no,
                    "image_path": image_path,
                    "contact_details": [{
                        "contact": contact_details
                    }],
                    "student_info": [{
                        "class_no": class_no,
                        "year": date
                    }]
                }
				formData = new FormData();
				if (formData){
    				formData.append("image", image);
    				console.log(image.name);

    				$.ajax({
        				url : "/viewStudents/",
        				type : "POST",
        				data : formData,
        				processData: false,
        				contentType: false,

        				success : function() {
        				},
        				error : function(xhr,errmsg,err) {
            				console.log(xhr.status + ": " + xhr.responseText);
        				}
    				});

				}
                $.ajax({
                    type: "POST",
                    url: "/students/",
                    csrfmiddlewaretoken: csrftoken,
                    data: JSON.stringify(obj),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    success: function() {
                        document.getElementById("myForm").reset();
                        document.getElementById("form1").reset();
                        document.getElementById("imagePreview").src = "#";
                        $("#success-alert").show();
                        setTimeout(function() {
                            $("#success-alert").hide();
                        }, 5000);
                    },
                    error : function(xhr,errmsg,err) {
            				console.log(xhr.status + ": " + xhr.responseText);
        			}
                });
            }
        });
    </script>
</body>

</html>
