<table id="datatable" border="1" class="table table-bordered">
    <thead>
        <col width="130">
        <col width="130">
        <tr>
            <th></th>
            <th>Statistics</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Accepted</th>
            <td>{{ all_students }}</td>
        </tr>
        <tr>
            <th>Graduates</th>
            <td>{{ graduates }}</td>
        </tr>
        <tr>
            <th>Dropouts</th>
            <td>{{ dropouts }}</td>
        </tr>
        <tr>
            <th>Employed</th>
            <td>{{ employed }}</td>
        </tr>
        <tr>
            <th>Unemployed</th>
            <td>{{ unemployed }}</td>
        </tr>
        <tr>
            <th>Deceased</th>
            <td>{{ deceased}}</td>
        </tr>
        <tr>
            <th>Employed %</th>
            <td id="myPercentage"></td>
        </tr>
    </tbody>
</table>
<script>
var employed = {{ employed }};
	var all_students = {{ all_students }};
	var percentage = parseFloat(employed) / parseFloat(all_students) * 100;    
document.getElementById("myPercentage").innerHTML = percentage;
</script>
