<table id="datatable" border="1" class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Number of Students</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Total Accepted</th>
            <td>{{ all_students }}</td>
        </tr>
        <tr>
            <th>Total Graduates</th>
            <td>{{ graduates }}</td>
        </tr>
        <tr>
            <th>Total Dropouts</th>
            <td>{{ dropouts }}</td>
        </tr>
        <tr>
            <th>Total Deceased</th>
            <td>{{ deceased}}</td>
        </tr>
        <tr>
            <th>Total Employed</th>
            <td>{{ employed }}</td>
        </tr>
        <tr>
            <th>Total Unemployed</th>
            <td>{{ unemployed }}</td>
        </tr>
    </tbody>
</table>
