<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Statistics</title>
	<!-- Load in jQuery and HighCharts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<script src="http://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>
        <h1 align="center">Analysis</h1>
	<!-- Overwrite the base.html jQuery load and put in head for Highcharts to work -->
	<div id={{ chartID|safe }} class="chart" style="height:100px; width:100%"></div>
	<!-- Maps the Python template context variables from views.py to the Highchart js variables -->
	<script>
    		var chart_id = {{ chartID|safe }}
    		var chart = {{ chart|safe }}
    		var title = {{ title|safe }}
    		var xAxis = {{ xAxis|safe }}
    		var yAxis = {{ yAxis|safe }}
    		var series = {{ series|safe }}
	</script>

	<!-- Highchart js. Variable map shown above -->
	<script>
		$(document).ready(function() {
    			$(chart_id).highcharts({
        			chart: chart,
        			title: title,
        			xAxis: xAxis,
        			yAxis: yAxis,
        			series: series
    			});
		});
	</script>
    </body>
</html>
